.container{
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer{
    flex: 1;
    /* 这里必须指明高度，否则照片不显示 */
    height: 500px;
    position: relative;
}

.img{
    object-fit: contain;
}

.formContainer{
    flex: 1;
}

.form{
   display: flex; 
   flex-direction: column;
   gap: 20px;
   justify-content: space-between;
}

.form input,
.form textarea{
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.send{
    background-color: var(--btn);
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:768px) {
    .container{
        flex-direction: column;
    }
}
