.container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.ava{
    object-fit: cover;
    border-radius: 50%;
}
.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    color: gray;
    font-weight: bold;
}

.detailValue{
    color: gray;
    font-weight: 500;
}