.container{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.logo{
    font-weight: bold;
}
 
.text{
    font-size: smaller;
}

@media (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}