.container{
    width: 100%;
    align-items: center;
}
.user{
    display: flex;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgoldenrodyellow;
}

.detail{
    display: flex;
    gap: 50px;
    align-items: center;
}